!!! 5
%html
  %head
    %title
      <%= title %>
    %script{type: "text/javascript", src: "/all.js"}
    %link{rel: "stylesheet", type: "text/css", href: "/all.css"}
  %body
    #content
      <%= content %>
