%ul
  %li.name Kyle Brett
  %li
    %i.fa.fa-lg.fa-arrow-circle-up
    %a{href: "/"} Home
  %li
    %i.fa.fa-lg.fa-info-circle
    %a{href: "/about.html"} About
  %li
    %i.fa.fa-lg.fa-github
    %a{href: "http://github.com/dashkb"} GitHub @dashkb
